body,
html {
    padding: 0;
    margin: 0;
    background: url('../img/bg.png') center top;
    background-size: 100% 100%;
    min-width: 100vw;
    min-height: 50vw;
    height: 100%;
    overflow: hidden;
    color: #fff;
    font-family: PingFangSC-Medium, PingFang SC;
}

.els-headerTitle {
    display: flex;
    margin-top: 0.5vw;
    width: 100%;
    height: 3.5vw;
    background: url('../img/header.png') bottom;
    background-size: 100% 100%;
    align-items: center;
    flex-direction: column;
}

.els-headerTitle .timeBox {
    display: flex;
    position: absolute;
    right: 10vw;
    top: 1.2vw;
}

.els-headerTitle .selectBox {
    font-size: 0.8vw;
    display: flex;
    position: absolute;
    left: 6vw;
    top: 1vw;
}


.els-headerTitle .selectBox select {
    background: transparent;
    color: #fff;
    border: 1px solid #005DFF;
}

.selectBg {
    background: #4580FF;
}

button {
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    background: #005DFF;
    font-size: 0.8vw;
}

button img {
    width: 15px;
    height: 15px;
}

.els-headerTitle .title {
    display: inline-block;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 900;
    line-height: 2.8vw;
    text-shadow: 0 0 0.26vw rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

.els-content {
    display: flex;
    padding: 0 1vw;
}

.els-content .part1 {
    width: 30%;
}

.els-content .part1 .ch1 {
    display: flex;
    justify-content: center
}

.els-content .part1 .chBox {
    text-align: center;
}

.els-content .part1 .chBox1 .text {
    font-size: 1.3vw;
    color: #00FFFF;
}

.els-content .part1 .chBox1 .title {
    font-size: 0.8vw;
}

.els-content .part1 .chBox2 .text {
    font-size: 1.3vw;
    color: #F98C00;
}

.els-content .part1 .chBox2 .title {
    font-size: 0.8vw;
}

.bgTitle {
    height: 2vw;
    line-height: 1.2vw;
    font-size: 1vw;
    background: url('../img/bgTitle.png') no-repeat center top;
    background-size: 100% 100%;
    padding-left: 1.5vw;
}

.els-content .part2 {
    width: 40%;
}

.els-content .part3 {
    width: 30%;
}

.elTable {
    padding: 0 1vw;
}

.elTable table {
    border-collapse: collapse;
    border: 1px solid #4580FF;
}

.elTable table tr th {
    background-color: rgba(13, 21, 90, 0.70);
    border: 1px solid #4580FF;
    font-size: 0.8vw;
    padding: 0.5vw;
}

.elTable table tr td {
    border: 1px solid #4580FF;
    font-size: 0.8vw;
    padding: 0.5vw;
}

.elsBottom {
    display: flex;
    padding: 0 1vw;
    justify-content: space-between;
    margin-top: 1vw;
}